.sf {
    margin-top: 0px;
}

.round img {
    border-radius: 5px;
}

.first {
    height: 150px;
}

.secopart img {
    height: 120px;

}

.image1 {
    height: 516px;

}

.image2 {
    height: 250px;
}

.image3 {
    height: 290px;
}

.image4 {
    height: 210px;
}

.offerchair {
    margin-top: -180px;
}